appnope
closure-linter
decorator
gnureadline
ipython
ipython-genutils
licenser
mercurial
path.py
pathlib2
pep8
pexpect
pickleshare
ptyprocess
python-gflags
requests
simplegeneric
six
traitlets
uncommitted
virtualenv
PyYAML
joblib
numpy
tqdm
